<!-- <form (submit)="addStudent()">
  <input
    [(ngModel)]="newStudentNum"
    [ngModelOptions]="{ standalone: true }"
    placeholder="Enter student phone number"
  />
  <button type="submit">Add Student</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{ student.id }}</td>
    <td>{{ student.num }}</td>
    <td><button (click)="removeStudent(student.id)">Remove</button></td>
  </tr>
</table> -->

<!-- <app-p6q1></app-p6q1> -->

<app-p6q2></app-p6q2>
