<!-- <app-prac-7></app-prac-7> -->
<!-- <app-p7q1></app-p7q1> -->
<!-- <app-p7q2></app-p7q2> -->
<!-- <app-prac-8></app-prac-8> -->
<!-- <app-p8q2></app-p8q2> -->

<!-- <app-parc-9></app-prac-9> -->
  <!-- <app-p9q2></app-p9q2> -->
  <!-- Other components here -->

<!-- <app-prac-10 (productAdded)="onProductAdded($event)"></app-prac-10>

<h2>Added Items:</h2>
<ul>
  <li *ngFor="let item of addedItems">{{ item.name }} - ${{ item.price }}</li>
</ul> -->

<!--
<app-product></app-product>
<app-product-details></app-product-details> -->
<!-- <app-prac-13></app-prac-13> -->
<!-- <app-prac-14></app-prac-14> -->
<!-- <app-prac-15></app-prac-15> -->
<!-- <app-prac-16></app-prac-16> -->
<router-outlet></router-outlet>
